.navbar {
  background-color: #f8f9fa;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  border-bottom: 1px solid #ddd;
}

.nav-link {
  color: #333;
  text-decoration: none;
  font-weight: 500;
  padding: 7px;
}

.nav-link:hover {
  color: #007bff;
}

.nav-link.active {
  color: #007bff;
  border-bottom: 2px solid #007bff;
}